<div class="border-bottom row" style="margin-bottom:16px;padding-bottom: 4px;">
    <div class="col-10">
        <h4 style="color: rgb(120,120,120); margin-bottom: 4px; ">
            {{job['title']}}
        </h4>
        <dev>
            <b>Location: {{job['location']}}</b>
        </dev>
        {% if 'Salary' in job %}
        <dev>
            <b>Salary: {{job['Salary']}}</b>
        </dev>
        {% endif %}
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>

</div>